# Ignore a blackhole and the folder for development
node_modules/
.vs/
.idea/
*.iml

# Ignore output folders
.nuxt/

# MacOS Finder
.DS_Store

# Yarn files
.yarn/install-state.gz

# Environment variables
.env

# Ignore log files
*.log
