# Ignore a blackhole and the folder for development
node_modules/
.vs/
.idea/
*.iml
/rethinkdb_data/
coverage/

# Ignore output folders
data/

# Environment variables
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.swp
*.swo

# Ignore heapsnapshot and log files
*.heapsnapshot
*.log

# Files that are build from lib/
application.min.js
highlight.min.js
application.css
