# Ignore a blackhole and the folder for development
node_modules/
.vs/
.idea/
*.iml
/rethinkdb_data/
coverage/

# Ignore output folders
.parcel-cache/
data/
dist/

# Yarn files
.yarn/install-state.gz
.yarn/build-state.yml

# Environment variables
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.swp
*.swo

# Ignore heapsnapshot and log files
*.heapsnapshot
*.log
