:root {
	--fonts: 'Fira Code', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

	--dark-black: #141512;
}

html, body {
	height: 100vh;
}

body {
	background: #282c34;
	padding: 20px 50px;
	margin: 0px;
}

textarea {
	font-family: var(--fonts);
	line-height: normal;
	tab-size: 8;
}

/* the line numbers */

#linenos {
	color: #7d7d7d;
	position: absolute;
	top: 20px;
	left: 0px;
	width: 30px; /* 30 to get 20 away from box */
	font-size: 15px;
	font-family: var(--fonts);
	text-align: right;
	user-select: none;
}

/* code box when locked */

#box {
	padding: 0px;
	margin: 0px;
	width: 100%;
	border: 0px;
	outline: none;
	font-size: 13px;
	overflow: inherit;
}

#box code,
pre {
	padding: 0px;
	background: transparent !important; /* don't hide hastebox */
	font-size: 15px;
	font-family: var(--fonts);
}

/* key */

#key {
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 1000;
	width: 200px;
	user-select: none;
}

#box1 {
	padding: 5px;
	text-align: center;
	background: var(--dark-black);
}

#box1 a.logo,
#box1 a.logo:visited {
	display: inline-block;
	background: url(/logo.png);
	width: 126px;
	height: 42px;
}

#box1 a.logo:hover {
	background-position: 0 bottom;
}
